@layout EmptyLayout
@page "/Account/ForgotPasswordConfirmation"
@using BotTeamsAdmin.Components.Layout

<PageTitle>Confirmación de envío de contraseña</PageTitle>

<h1>Confirmación de envío de contraseña</h1>
<p>
    Revisa tu correo electrónico para restablecer tu contraseña.
</p>
